body{
    width: 100%;
    height: 100vh;
    background-image: url(background.jpg);              
    background-position: center;
}
* {
   margin: 30;
   padding: 30;
   font-family: sans-serif;
}
h1{
    text-align: center;
    color: black;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 30px 0px;
    align-items: center;
    justify-content:left;
    position: relative;
    list-style: none;
}
.navbar ul li {
    list-style: none;
    margin: 0 20px;
    position:relative;
    float:inline-start;
    scroll-margin-top: 5px;
}
.navbar ul li a {
    text-decoration:underline;
    color: rgb(223, 17, 216);
}
.navbar ul li a:hover{
    background-color: rgb(116, 221, 209);
}







